* {
	margin:0;
	padding:0;
}
ul,li {
	list-style-type: none;
}
#container {
	width:100%;
	height: 100%;
	overflow:hidden;
	position: absolute;
}
.content-wrap {
	position: relative;
	li {
		background: #cae1ff;
		float:left;
		position:relative;
		overflow:hidden;
	}
	li:nth-child(2) {
		background: #9BCD9B;
	}
	li:nth-child(3) {
		background: yellow;
	}
}
.a_background {
	width: 100%;
	height: 100%;
	position: absolute;
}
.a_background_top {
	width: 100%;
	height: 71.6%;
	background: url(images/background/a_background_top.png) no-repeat;
	background-size: 100% 100%;
}
.a_background_middle{
    width: 100%;
    height: 13.1%;
    background-image: url(images/background/a_background_middle.png);
    background-size: 100% 100%;
}

.a_background_botton{
    width: 100%;
    height: 15.3%;
    background-image: url(images/background/a_background_botton.png);
    background-size: 100% 100%;
}
.b_background {
	.a_background;
	background: url(images/QixiB-dark.png) no-repeat;
	background-size: 100% 100%;
}
.b_background_preload {
	.a_background;
	background: url(images/QixiB-bright.png) no-repeat;
	background-size: 100% 100%;
}
.c_background {
	.a_background;
	background: url(images/QixiC.png) no-repeat;
	background-size: 100% 100%;
}
//男孩
.charector {
    width: 151px;
    height: 291px;
    background: url(images/boy.png) -0px -291px no-repeat;
    position: absolute;
    z-index: 10;
    top:0;
    left:0;
}
//行走动作
.allanimation(@name,@duration,@function,@count){
	animation-name: @name;
	animation-duration: @duration;
	animation-timing-function: @function;
	animation-iteration-count:@count;
	-webkit-animation-name: @name;
	-webkit-animation-duration: @duration;
	-webkit-animation-timing-function: @function;
	-webkit-animation-iteration-count:@count;
	-moz-animation-name: @name;
	-moz-animation-duration: @duration;
	-moz-animation-timing-function: @function;
	-moz-animation-iteration-count:@count;
	
}
.slowwalk {
	.allanimation(walk,950ms,steps(1,start),infinite)
}
@-webkit-keyframes walk {
        0% {
            background-position: -0px -291px;
        }
        25% {
            background-position: -602px -0px;
        }
        50% {
            background-position: -302px -291px;
        }
        75% {
            background-position: -151px -291px;
        }
        100% {
            background-position: -0px -291px;
        }
    }
    
    @-moz-keyframes walk {
        0% {
            background-position: -0px -291px;
        }
        25% {
            background-position: -602px -0px;
        }
        50% {
            background-position: -302px -291px;
        }
        75% {
            background-position: -151px -291px;
        }
        100% {
            background-position: -0px -291px;
        }
    }
.walkpause {
	animation-play-state: paused;
}
//太阳动画
#sun {
            background: url("images/sun.png") no-repeat;
            position: absolute;
            z-index: 1;
            top: -15%;
            height: 201px;
            width: 201px;
            right: 40%;
}
.rotation {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 30s;
    -moz-animation-name: rotation;
    -moz-animation-duration: 30s;
}
        
@-webkit-keyframes rotation {
    /*？*/
    0% {
        transform:translateX(0) translateY(0);
    }
    100% {
			transform: translateX(-2000px) translateY(400px);
	}
}

@-moz-keyframes rotation {
    0% {
        transform:translateX(0) translateY(0);
    }
    100% {
		transform: translateX(-2000px) translateY(400px);
	}
}
.cloud {
    z-index: 2;
    position: absolute;
}     
.cloud1 {
    width: 181px;
    height: 101px;
    left: -5%;
    top: 15%;
    background: url("images/cloud1.png");
    .allanimation(cloudmove,20s,linear,infinite);
}        
.cloud2 {
    width: 301px;
    height: 140px;
    right: -5%;
    background: url("images/cloud2.png");
    .allanimation(cloudmove2,20s,linear,infinite);
}
@-webkit-keyframes cloudmove{
	0% {
		left:-5%;
	}
	100% {
		left:100%;
	}
}
@-moz-keyframes cloudmove{
	0% {
		left:-5%;
	}
	100% {
		left:100%;
	}
}
@-webkit-keyframes cloudmove2{
	0% {
		rgiht:-5%;
	}
	100% {
		right:100%;
	}
}
@-moz-keyframes cloudmove2{
	0% {
		right:-5%;
	}
	100% {
		right:100%;
	}
}

//pageB
.shop {
    width: 39.5%;
    height: 35.5%;
    position: absolute;
    left: 29%;
    top: 36.5%;
}

.door {
    position: absolute;
    width: 32%;
    height: 100%;
    top: 32%;
    height: 68%;
    overflow: hidden;
    left: 58.5%;
}

.eachdoor {
    width: 50%;
    height: 100%;
    position: absolute;
}

.leftdoor {
	.eachdoor;
    left: 0%;
    background: url(images/door-left.png);
    background-size: 100% 100%;
}

.rightdoor {
	.eachdoor;
    left: 50%;
    background: url(images/door-right.png);
    background-size: 100% 100%;
}

.slowFlowerWalk {
   -webkit-animation-name: person-flower-slow;
   -webkit-animation-duration: 950ms;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: step-start;
   -moz-animation-name: person-flower-slow;
   -moz-animation-duration: 950ms;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: step-start;
}
@-webkit-keyframes person-flower-slow {
   0% {
       background-position: -453px -0px;
   }
   25% {
       background-position: -904px -0px;
   }
   50% {
       background-position: -451px -0px;
   }
   75% {
       background-position: -753px -0px;
   }
   100% {
       background-position: -300px -0px;
   }
}
   
@-moz-keyframes person-flower-slow {
   0% {
       background-position: -453px -0px;
   }
   25% {
       background-position: -904px -0px;
   }
   50% {
       background-position: -451px -0px;
   }
   75% {
       background-position: -753px -0px;
   }
   100% {
       background-position: -300px -0px;
   }
}

//pageC
.girl {
    background: url(images/girl.png) -755px -0px no-repeat;
    position: absolute;
    right: 40%;
    top: 37%;
    width: 151px;
    height: 291px;
}

.hbtext {
	position: fixed;
	top:30%;
	left:30%;
	font-size: 5em;
	z-index: 1000;
	color:#FF3A92;
	display: none;
}

.logolightSpeedIn {
	display: block;
    -webkit-animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 3s;
    -moz-animation-name: lightSpeedIn;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 3s;
}

@-webkit-keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0.2;
    }
    60% {
        -webkit-transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: none;
        opacity: 1;
    }
}

@-moz-keyframes lightSpeedIn {
    0% {
        -moz-transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        -moz-transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -moz-transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        -moz-transform: none;
        opacity: 1;
    }
}

.logoshake {
    -webkit-animation-name: logoshake;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name: logoshake;
    -moz-animation-duration: 0.5s;
}

@-webkit-keyframes logoshake {
    /* 补充代码使logo产生左右晃动效果 */ 
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
}
10%,
30%,
50%,
70%,
90% {
    -webkit-transform: translate3d(-5px, 0, 0);
}
20%,
40%,
60%,
80% {
    -webkit-transform: translate3d(10px, 0, 0);
}
}

@-moz-keyframes logoshake {
0%, 100% {
    -moz-transform: translate3d(0, 0, 0);
}
10%,
30%,
50%,
70%,
90% {
    -moz-transform: translate3d(-5px, 0, 0);
}
20%,
40%,
60%,
80% {
    -moz-transform: translate3d(10px, 0, 0);
}
}
//花瓣动画
.flowerdown {
	width: 100%;
	height: 100%;
	position: absolute;
}
.eachflower {
	position: absolute;
	width: 41px;
	height: 41px;
	top:-41px;
	z-index: 1000;
	.allanimation(flowerrotate,20s,linear,1);
}

@-webkit-keyframes flowerrotate{
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(1080deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes flowerrotate{
	0% {
		-moz-transform: rotate(0deg);
	}
	50% {
		-moz-transform: rotate(1080deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}